---
layout: archive
---

{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    <!-- {% include archive-single.html type=entries_layout %} -->
  {% endfor %}
</div>

<h2 id="about-me">About Me</h2>
<p>I am a Ph.D candidate at <a href="https://www.caos.postech.ac.kr/">Computer Architecture and Operating Systems Laboratory (CAOS Lab.)</a>, led by <a href="https://jisung-park.github.io/">Prof. Jisung Park</a>, at <a href="https://www.postech.ac.kr/eng/">POSTECH</a>. I am interested in computer systems, including computer architecture and system software.</p>

<h2 id="education">Education</h2>
<ul>
  <li>M.S in Computer Science and Engineering, POSTECH, Feb. 2023, advisor: <a href="https://sites.google.com/view/gkim/">Prof. Gwangsun Kim</a>.</li>
  <li>B.S. in Computer Science and Engineering, POSTECH, Aug. 2020</li>
</ul>

<h2 id="professional-experience">Professional Experience</h2>
<ul>
  <li>Machine Learning Engineer, <a href="https://www.squeezebits.com/">Squeezebits Inc.</a>, Feb. 2023-Jun. 2023</li>
</ul>

<h2 id="publication">Publication</h2>
<p><strong>[ICCAD 2024]</strong>NORNS: Three Guides for Efficient Automatic Post-Fabrication Optimization of Modern NAND Flash Memory.<br />
Earl Kim, <strong>Hyunuk Cho</strong>, Sungjun Cho, Myungsuk Kim, Jisung Park, Jaeyong Jeong, Eunkyung Kim and Sunghoi Hur.<br />
<i>Proceedings of the 43rd ACM/IEEE International Conference on Computer-Aided Design, Newark, NJ, USA, October 2024 (to appear).</i></p>
<p><strong>[ASPLOS 2024]</strong> AERO: Adaptive Erase Operation for Improving Lifetime and Performance of Modern NAND Flash-Based SSDs.<br />
Sungjun Cho, Beomjun Kim, <strong>Hyunuk Cho</strong>, Gyeongseob Seo, Onur Mutlu, Myungsuk Kim, and Jisung Park.<br />
<i>Proceedings of the 29th International Conference on Architectural Support for Programming Languages and Operating Systems, San Diego, USA, April 2024 (to appear).</i></p>
<p><strong>[CAL 2021]</strong> Near-Data Processing in Memory Expander for DNN Acceleration on GPUs.<br />
Hyungkyu Ham*, <strong>Hyunuk Cho</strong>*, Minjae Kim, Jueon Park, Jeongmin Hong, Hyojin Sung, Eunhyeok Park, Euicheol Lim, and Gwangsun Kim. (*: co-first authors)<br />
<i>IEEE Computer Architecture Letters, 20(2), 2021.</i></p>
